
/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
    color: red;
}
  
/* 토요일 날짜: 파란색 */
.fc-day-sat a {
    color: blue;
}

.fc {
    
    /* direction: ltr; */
    text-align: left; }
    .fc table {
      border-collapse: collapse;
      border-spacing: 0; }
    .fc .btn {
      line-height: 1.2em; }