.main{
    margin: auto;
    text-align: center;
    background-image: url('../../../assets/images/mainimg.jpg');
    width: 100vw;
    height: 230vh;
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-size: 100vw 230vh;
}
